/*
* Style Works for Editor Only
*/

.wp-block-afpb-comparison-table {
	margin-bottom: 70px !important;
	.block-list-appender {
		right: auto !important;
		left: 50% !important;
		margin-left: -24px !important;
		bottom: -60px !important;
	}
	.block-editor-button-block-appender {
		color: #d59215 !important;
		box-shadow: inset 0 0 0 1px #d59215 !important;
		border-radius: 50% !important;
	}
}
