.afpb__divider {
	margin: 16px 0;
	width: 100%;
	height: 1px;
	background: #ebebeb;
}

.afpb__divider_bar {
	background: #8d6708;
	margin: 16px 0;
	padding: 10px;
	color: #fff;
}

p.afpb__label {
	margin: 16px 0 !important;
}

/* Tabs */

.afpb__tabs_panel .components-tab-panel__tabs {
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.afpb__tabs_panel .components-tab-panel__tabs button {
	width: 100%;
	text-align: center;
	display: block;
	border-bottom: 2px solid #e0e0e0;
	margin-bottom: 15px;
}

.afpb__tabs_panel .components-tab-panel__tabs button.active-tab {
	border-bottom-color: #007cba;
	color: #007cba;
}

/*Rating*/
.react-rater {
	display: inline-block;
	line-height: normal;
}
.react-rater > * {
	display: inline-block;
}

.react-rater-star {
	cursor: pointer;
	color: #ccc;
	position: relative;
}
.react-rater-star.will-be-active {
	color: #ebae00 !important;
}
.react-rater-star.is-active {
	color: #ebae00 !important;
}
.react-rater-star.is-active-half:before {
	color: #ebae00 !important;
	content: "\2605";
	position: absolute;
	left: 0;
	width: 50%;
	overflow: hidden;
}
.react-rater-star.is-disabled {
	cursor: default;
}
